venv
idea
perfect_guide/4장/creditcard.csv
data
perfect_guide/6장/pca_credit_card.xls
perfect_guide/8장/labeledTrainData.tsv
perfect_guide/8장/topics
.idea
perfect_guide/9장/ml-latest-small
!/perfect_guide/8장/ratings_train.txt
!/perfect_guide/8장/ratings_test.txt
